body{
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

p{
  text-align: center;
}

h2{
  text-align: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 140px);/*100% - 80px*/

}

.logo > img{

  width: 350px;

}